.title{
  background-image: url(../images/flatiron.png);
  text-align: center;
  color:white ;
  background-size: cover;

}
#heading1{
  font-family: Helvetica;
  font-size:70px;
  font-weight: bold;
  color:white;
}
.title h4{
  font-family: Helvetica;
  font-size: 18px;
  color:white;
}
.center{
  background-color: white;
  text-align: center;
  font-family: Helvetica;
}
#heading3{
  font-size: 32px;
  font-weight: bold;
}
.center h4{
    font-size:23px;
    font-weight: bold;
}
.center p{
  font-size: 14px;
}
#DNY{
  text-align: center;
  background-image: url(../images/flatiron.png);
  font-family: Helvetica;
  font-size:23px;
  font-weight: bold;
  color:white;
}
.bottom h4{
  text-align: center;
    font-size:23px;
    font-weight: bold;
  }
.bottom p{
  text-align: center;
    font-size: 14px;
  }
  #copyright{
    text-align: left;
    background-color: dimgray;
    font-size:11px;
    font-family: Helvetica;
    color:white;
  }
  #footer{
    text-align: left;
    font-family: Helvetica;
    font-size: 16px;
    color:white;
    background-color: dimgray;
  }
  a{
    color:white;
  }
